<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/treinamentoorm</property>
        <property name="hibernate.connection.password">pymsenhas</property>
        <property name="hibernate.connection.username">pymsenhas</property>
        <property name="hibernate.connction.autocommit">true</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.archive.autodetection">class</property>
		 
        <mapping class="br.com.secoti.models.Usuario"/>
        <mapping class="br.com.secoti.models.Conta"/>
        <mapping class="br.com.secoti.models.Lancamento"/>
        
    </session-factory>
</hibernate-configuration>
